<!--%= render 'layouts/errors', obj: @order %--><!--エラー表示（今回は表示なし）-->
<h2>注文履歴詳細</h2>
<div class="container">
 <div calss="row">
  <div class="col-xs-3">
   <table class="table table-bordered">
     <tr>
      <th class="info">購入者:</th>
      <td class="text-right col-xs-5"><%= link_to @customer.full_name,admin_customer_path(@order) %></td>
     </tr>
     <tr>
      <th class="info">注文日：</th>
      <td class="text-right"><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
     </tr>
      <th class="info">配送先：</th>
      <td class="text-right"><%= @order.full_address %></td>
     </tr>
     <tr>
      <th class="info">支払方法</th>
      <td class="text-right"><%= @order.payment_method_i18n %></td>
     </tr
     <tr>
      <th class="info">注文ステータス</th>
      <%= form_with model: @order, url: admin_order_path(@order), local:true, method: :patch do |f| %>
      <td class="text-right">
       <%= f.select :status,Order.statuses.keys %>
       <%= f.submit "変更" %>
      </td>
      <% end %>
     </tr>
    </table>
   </div>
   <div class="col-xs-3 billing">
   <table class="table table-hover table-inverse"><!--タイトルや本文などを表示(収納)する枠-->
    <thead>
      <tr>
       <th>商品名</th>
       <th>単価（税込）</th>
       <th>数量</th>
       <th>小計</th>
       <th colspan="2">製作ステータス</tb><!--機能はまだ作成中-->
      </tr>
    </thead>
    <tbody>
     <% @order.order_details.each do |detail| %>
      <tr>
        <td><%= detail.item.name %></td>
        <td>
         <%= (detail.item.price * 1.1).floor %>
        </td>
        <td><%= detail.amount %></td>
        <td>
         <% sum = 0 %>
         <% sum = (detail.amount * (detail.item.price * 1.1)).floor %>
         <%= number_with_delimiter(sum)  %>
        </td>
       <td><!--%= detail.making_status_i18n %-->
        <%= form_with model: detail, url: admin_order_detail_path(@order.id), local:true, method: :patch do |f| %>
        <%= f.select :making_status,OrderDetail.making_statuses.keys %>
        <%= f.submit "変更" %>
        <% end %>
       </td>
      </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
 </div>

 <div class="col-xs-3 billing">
  <table class="table table-bordered">
   <tr>
    <th  class="info">商品合計</th>
    <td class="text-left">
     <%= number_with_delimiter(@total.round(0)) %>
    </td>
   </tr>
   <tr>
    <th  class="info">配送料</th>
    <td class="text-left">
     <%= number_with_delimiter(@order.shipping_cost) %>
    </td>
   </tr>
   <tr>
    <th class="info">請求金額合計</th>
     <td class="text-left">
      <%= number_with_delimiter(@order.total_payment) %>
     </td>
    </tr>
  </table>
 </div>
