<div class="container">
<h4 class="mt-5 bg-light">注文履歴一覧</h4>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <%= @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.customer.full_name %></td>
        <td><%= order.order_details.amount %></td>
        <td>
          <%= f.radio_button :is_deleted, Customer.is_deleteds.key(true) %>
          <%= f.label :is_deleted, Customer.is_deleteds_i18n[:in_use] %>

          <%= f.radio_button :is_deleted, Customer.is_deleteds.key(false) %>
          <%= f.label :is_deleted, Customer.is_deleteds_i18n[:withdrawal]%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>
</div>

