<div class="container">
    <h4 class="mt-5 bg-light">ショッピングカート</h4>
    <p><%= link_to "カートを空にする",cart_items_path(@cart_items), data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger",method: :delete_all  %></p>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |f| %>
         <tr>
          <td><%= f.item.name %></td>
          <td><%= f.item.price %></td>
          <td><%= f.amount %></td>
          <td>小計を出す計算式</td>
          <td><%= link_to "削除する",cart_items_path(f), data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger",method: :delete  %></td>
         </tr>
        <% end %>
        <%= link_to "買い物を続ける",item_path(@item), class:'btn btn-sm btn-success'%>
      </tbody>
    </table>
</div>