<div class="container px-5 px-sm-0">
  <div class="row d-flex">
    <div class="col-md-3">
      <div><%= render 'item_genre' %></div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 style="display:inline">商品一覧</h2>
      <span>(全<%= Item.count %>件)</span>

        <% @items.each do |item| %>
        <div>
      <%= image_tag item.get_image %>
          <div>
            <strong><%= item.name %></strong>
          </div>
          <div>
            <strong>¥<%= item.price.to_s(:delimited) %></strong>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
