<div class="container px-5 px-sm-0 py-4">
  <div class="row d-flex">
    <div class="col-md-3">
      <div><%= render 'item_genre' %></div>
    </div>
    <div class="col-md-3">
      <div class="p-3">
        <%= image_tag @item.get_image, size: "200x200" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-2">
        <strong style="font-size:25px;"><%= @item.name %></strong>
      </div>
      <div class="mb-5">
        <%= @item.introduction %>
      </div>
      <div class="mb-3">
        <h5 style="display:inline;">¥ <%= @item.price.to_s(:delimited) %></h5>
        <p style="display:inline; font-size:10px;">(税込)</p>
      </div>
        <%= form_with model: @cart_items, url: cart_items_path do |f| %>
        <div class="form-group d-flex align-items-end">
          <span class="px-3">
            <%= f.select :amount, [[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]], {include_blank: '個数選択'}, class: 'item' %>
          </span>
          <span class="px-3">
            <%= f.submit 'カートに入れる', class: 'btn btn-success btn-sm' %>
          </span>
        </div>
        <% end %>
    </div>
  </div>
</div>
